// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3568-nlnet-xgz68.dtsi"
#include "rk3568-xgp.dts"

/ {
	model = "NLnet XiGuaPi Board V3";
	compatible = "nlnet,xgp", "rockchip,rk3568";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		led-boot = &sys_led;
		led-failsafe = &sys_led;
		led-running = &sys_led;
		led-upgrade = &sys_led;
	};

	backlight: backlight {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&backlight_led_pin>;
		gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	leds {
		pinctrl-0 = <&sys_led &net_led_pin>;

		net_led: net-led {
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
			label = "blue:net";
		};
	};

	led-controller {
		compatible = "pwm-leds";

		backlight: backlight {
			label = "lcd:backlight";
			pwms = <&pwm14 0 1000000 0>;
			max-brightness = <255>;
			linux,default-trigger = "default-on";
		};
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		pinctrl-names = "default";
		#cooling-cells = <2>;
		pwms = <&pwm7 0 40000 0>;
		cooling-levels = <0 50 80 110 140 170 200 230 255>;
	};

	spi_gpio: spi-gpio {
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		num-chipselects = <1>;
	};

	pmu_io_domains {
		vccio5-supply = <&vcc_3v3>;
	};

	usb2phy0_host {
		pinctrl-0 = <&modem_reset_pins>;
		pinctrl-names = "default";
	};

	spi3 {
		status = "okay";
	};

	pinctrl {
		leds {
			net_led_pin: net-led-pin {
				rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
			};
		};

		display {
			spi3_display_dc_pin: spi3_display_dc_pin {
				rockchip,pins = <4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
			};

			display_reset_pin: display_reset_pin {
				rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
			};
		};

		spi3 {
			spi3_sck: spi3_sck {
				rockchip,pins = <4 RK_PC2 2 &pcfg_pull_none>;
			};
			spi3_mosi: spi3_mosi {
				rockchip,pins = <4 RK_PC3 2 &pcfg_pull_none>;
			};
		};

		modem {
			modem_reset_pins: modem-reset-pins {
				rockchip,pins = <2 RK_PD7 RK_FUNC_GPIO &pcfg_pull_down>;
			};
		};
	};

	&pwm14 {
		pinctrl-0 = <&pwm14m0_pins>;
		pinctrl-names = "default";
		status = "okay";
	};

	&gmac0 {
		assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
		assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
		assigned-clock-rates = <0>, <125000000>;
		clock_in_out = "output";
		phy-mode = "rgmii-id";
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_miim
		             &gmac0_tx_bus2
		             &gmac0_rx_bus2
		             &gmac0_rgmii_clk
		             &gmac0_rgmii_bus>;
		snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
		snps,reset-active-low;
		snps,reset-delays-us = <0 20000 100000>;
		tx_delay = <0x3c>;
		rx_delay = <0x2f>;
		phy-handle = <&rgmii_phy0>;
		status = "okay";
	};

	&gmac1 {
		assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
		assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
		assigned-clock-rates = <0>, <125000000>;
		clock_in_out = "output";
		phy-mode = "rgmii";
		pinctrl-names = "default";
		pinctrl-0 = <&gmac1m1_miim
		             &gmac1m1_tx_bus2
		             &gmac1m1_rx_bus2
		             &gmac1m1_rgmii_clk
		             &gmac1m1_rgmii_bus>;
		snps,reset-gpio = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
		snps,reset-active-low;
		snps,reset-delays-us = <0 20000 100000>;
		tx_delay = <0x3c>;
		rx_delay = <0x2f>;
		phy-handle = <&rgmii_phy1>;
		phy-supply = <&vcca1v8_image_p>;
		status = "okay";
	};

	&mdio0 {
		rgmii_phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0x1>;
		};
	};

	&mdio1 {
		rgmii_phy1: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0x1>;
		};
	};
};
